Charles I. Jones, Dietrich Vollrath - Introduction to Economic Growth (2013, W. W. Norton & Co.) - libgen.lc.pdf
Charles I. Jones - Introduccion al crecimiento economico (2000, Pearson Educación) - libgen.li.pdf